.selling {
    padding-top: 45px;
  background: linear-gradient(
    to bottom right,
    rgba(34, 197, 94, 0.05),   /* gofarm-green /5 */
    #ffffff,                   /* via white */
    rgba(236, 253, 245, 0.3)   /* emerald-50 /30 */
  );
}
@media(max-width:767px) {
    .selling .container {
        display: flex;
        flex-direction: column;
    }
}
.selling .our-join .head {
     border-radius: 25px;
    padding: 9px;
}
.selling .our-join .buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
@media(max-width:767px) {
    .selling .container .our-join .buttons  {
       display: flex;
       flex-direction: column;
    }
}
.selling .our-join .buttons button {
    background-color: #008a38;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.selling .our-join .buttons button:hover{
    background-color: #008a3703;
    color: #008a38;
    border: 1px solid #008a38 ;
}
.selling .our-join .all-number .number  {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
@media(max-width:767px) {
    .selling .container .our-join .all-number  {
       display: flex;
    flex-direction: column;
   margin-bottom: 30px;
    }
}
.selling .our-join .all-number .number p:first-child{
    color: #008a38;
    font-size: 30px;
    font-weight: bold;
}
.selling .our-join .all-number .number p:last-child{
    color: gray;

}
.selling .sales .box {
    
        box-shadow: 0 12px 15px rgb(0 0 0 /10%);
background-color: white;
padding: 20px;
transition: 0.3s;

}
@media(max-width:767px) {
    .selling .container .sales  {
       display: flex;
    flex-direction: column;
   
    }
}
.selling .sales .box .text {
    
    display: flex;
flex-direction: column;
gap:10px;
text-align: center;
}
.selling .sales .box .text .icon {
  display: flex;
  justify-content: center;
      justify-content: center;
    display: flex;
    width: fit-content;
    background-color: #008a38;
    color: white;
    padding: 20px;
    border-radius: 6px;
    font-size: 30px;
    margin: 0 auto;
}
.selling .sales .box .text .icon svg{
    text-align: center;
}
.selling .sales .box .text h3 {
    color: #000000;
    font-weight: bold;
}
.selling .sales .box .text p {
    color: gray;
    font-size: 13px;
}